body{
    width: 100%;
    height: 100%;
    background-color: #007163;
}
#content{
    width: 60%;
    min-height: 100vh;
    margin: auto;
}
.tips{
    margin: auto;
    width: 50%;
    height: auto;
    text-align: justify;
}