body {
    background-color: lightgray;
    font-family: Helvetica, Arial, sans-serif;
}

#title {
    text-align: center;
    font-size: 3em;  
}

#filter {
    position: absolute;
    background-color: #003761;
    width: 80%;
    margin: 5%;
    padding: 5%;
}

#exercises {
    position: absolute;
    background-color: #003761;
    width: 80%;
    margin: 5%;
    padding: 5%;
}

.exercise {
    position: relative;
    width: 80%;
    height: 150px;
    margin: 5%;
    background-color: whitesmoke;
}

.imageContainer {
    position: relative;
    height: 80%;
    top: 10%;
    bottom: 10%;
    left: 5%;
    width: 240px;
}

.imageContainer>img {
    width: 100%;
    height: 100%;
    z-index: 2;
}

.description {
    position: relative;
    width: 50%;
    height: 100%;
    margin: 5% 5% 5% 35%;
    float: right;
}
