#bmi_list {
	margin:10px auto;
	max-width: 400px;
	padding: 20px 12px 10px 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 13px;
}
.list_maxpuls li {
	padding: 0;
	display: block;
	list-style: none;
}
.list_maxpuls label{
	margin:0 0 3px 0;
	padding: 0px;
	display:block;
	font-weight: bold;
}
.list_maxpuls input,textarea{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
	border:1px solid #BEBEBE;
	padding: 7px;
    margin:0px;
    outline: none;
}
.list_maxpuls input:focus, .list_maxpuls textarea:focus{
	-moz-box-shadow: 0 0 8px #4691A4;
	-webkit-box-shadow: 0 0 8px #4691A4;
	box-shadow: 0 0 8px #4691A4;
	border: 1px solid #4691A4;
}
.list_maxpuls input[type=submit]{
	background: #007163;
	padding: 8px 15px 8px 15px;
	border: none;
    color: #fff;
    margin-bottom: 20px;
}
.list_maxpuls input[type=submit]:hover{
	background: #4691A4;
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
}
#all {
    display: flex;
    flex-direction: row;
    margin-top: 150px;
    margin-top: 50px;
    width: 80%;
    margin:auto;
}
.calculator_div {
    margin: auto;
    margin-top: 0px;
    width: 40%;
    padding: 10px 10px;
    border: solid 2px #003761 ;
    margin-bottom: 50px;
}
@media only screen and (max-width: 800px){
.list_maxpuls input {
    width: 150px;
}
#all {
    flex-direction: column;
}
.calculator_div {
    width: 80%;
}
}