body{
    width: 80%;
    min-height: auto;
    margin: auto;
}
#main_container {
    background-color: rgb(253, 250, 250);
}
#bmi_list {
	margin:10px auto;
	max-width: 400px;
	padding: 20px 12px 10px 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 13px;
}
ul li {
	padding: 0;
	display: block;
	list-style: none;
}
ul label{
	margin:0 0 3px 0;
	padding: 0px;
	display:block;
	font-weight: bold;
}
ul input,textarea{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
	border:1px solid #BEBEBE;
	padding: 7px;
    margin:0px;
    outline: none;
}
ul input:focus, ul textarea:focus{
	-moz-box-shadow: 0 0 8px #4691A4;
	-webkit-box-shadow: 0 0 8px #4691A4;
	box-shadow: 0 0 8px #4691A4;
	border: 1px solid #4691A4;
}
ul input[type=submit]{
	background: #007163;
	padding: 8px 15px 8px 15px;
	border: none;
    color: #fff;
    margin-bottom: 20px;
}
ul input[type=submit]:hover{
	background: #4691A4;
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
}
h1 {
    margin: auto;
    margin-top: 100px;
    width: 400px;
    margin-bottom: 50px;

}
#all {
    display: flex;
    flex-direction: row;
    margin-top: 150px;
    margin-top: 50px;
    width: 80%;
    margin:auto;
}
.calculator_div {
    margin: auto;
    width: 45%;
    padding: 10px 10px;
    border: solid 2px #003761 ;
    margin-bottom: 50px;
}
#logo-image {
    width: 55px;
    height: 45px;
}