#title {
    text-align: center;
    font-size: 3em;  
}
#filter {
    margin: 0 10% 0 10%;
    width: 70%;
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
#filter label {
    background-color: #007163;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    text-align: center;
    width: 100px;
    height: 25px;
}
#filter input{
    display: none;
}
#filter label:hover{
    transform: scale(0.95);
}

#exercises {
    margin: 5% 10% 5% 10%;
    padding: 5%;
    background-color: whitesmoke;
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: column;
}
.exercise_div{
    margin: 2.5%;
    padding: 2.5%;
    background-color: lightgray;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
}
.imageContainer{
    margin: 5px;
    width: 100px;
    height: 100px;
    overflow: hidden;
}
.description{
    min-width: 100px;
    width: auto;
    height: auto;
    text-align: justify;
    padding:5px;
}



.media {
    position: relative;
    height: 80%;
    width: 20%;
    margin: 10% 70% 10% 10%;
}