header{
    z-index: 100;
    font-size: 20px;
    display: flex;
    width: 100%;
    height: 55px;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow:  0px 3px 5px 2px rgba(0, 0, 0, 0.4);
    background-color: white;
}
.nav-ul{
    display: flex;
    flex-direction: row;
    justify-content: left;
    flex-grow: 1;
}
.nav-li{
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    color: #003761;
}
#logo{
    left: 0px;
    width: 50px;
    height: auto;
}
nav{
    display: flex;
    justify-content: center;
    flex-grow: 1;
    background-color: white;
    margin: 0;

}
#login-container{
    width: 30%;
    display: flex;
    flex-direction: row;
}
#login_btn,#register_btn,#login_btn_div,#register_btn_div{
    border: none;
    background-color: #003761;
    color: white;
    font-size: 18px; /* should we not use px?*/ 
    flex-grow: 1;
    margin: 10px;
    border-radius: 3px;
}
a{
    text-decoration: none;
    color: #003761;
}
.bar{
    display: none;
    background-color: black;
}
/* BREAKPOINT */ 
@media screen and (max-width: 822px) {
    body{
        overflow-x: hidden; 
    } 
    nav{
        display: flex;
        justify-content: space-between;
        flex-grow: 1;
        background-color: white;
        margin: 0;
    
    }
    #hamburger-menu{
        display: inline-block;
        cursor: pointer;
        margin-top: 5px;
        margin-right: 10px;
    }
    .nav-ul{
        padding-top: 50px;
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 35px;
        background: #003761;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 40%;
        transform: translateX(100%);
    }
    .nav-ul-motion{
        transform: translateX(0%);
    }
    .nav-li{
        display: flex;
        flex-grow: 1;
    }
    .logo{
        display: flex;
        flex-direction: left;
    }
   #login-container{
        display: none;
        flex-direction: column;
    }
    #login_btn,#register_btn{
        border: none;
        background-color: #003761;
        color: white;
        font-size: 18px;
        flex-grow: 1;
        margin: 10px;
        border-radius: 3px;
    }
    div > #login-container{
        display: none;
    }
    .btn-class{
        display: none;
    }
    .btn-motion{
        display: flex !important;
    }
    a{
        text-decoration: none;
        color: white;
    }
    #hamburger-menu{
        margin-top: 10px;
    }
    .bar{
        display: block;
        background-color: #003761;
        width: 25px;
        height: 4px;
        margin: 6px;
        border-radius: 3px;
    }
}