.tile-style{
    margin: auto;
    width: 400px;
    height: 300px;
    border-radius: 3px;
    border: solid 1px;
    margin-top: 50px;
    text-align: center;
    background-color: #c4c4c4;
    margin-bottom: 25px;
}
.tile-image{
    margin: auto;
    max-width: 100%;
    width: 100%;
    height: 100%;
}
.tile-header{
    color: black;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 2em;
    padding: 10px;
    background-color: rgba(0,55,97,0.5);
    font-weight: bold;
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: -42%;
}
#tile-container{
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fit,minmax( 500px, 1fr));
    margin-bottom: 50px;
}
#tiles{
    width: 80%;
    height: 100%;
    margin: auto;
    background-color: #003761;
    margin-bottom: 50px;
}

#logo-image {
    width: 55px;
    height: 50px;
}

img:hover {
    cursor: pointer;
}

.tile-header:hover {
    cursor: pointer;
}

h1 {
    position: relative;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 75px;
    color:white;
    font-size: 200%;
}

@media only screen and (max-width: 650px) {
    .tile-style{
        width: 250px;
        height: 187.5px;
        margin-top: 100px;

    }
    #tile-container{
        grid-template-columns: repeat(auto-fit,minmax( 250px, 1fr));
    }
    h1{
        font-size: 130%;
    }

}
