#input{
    text-align: center;
}
#input_days{
	border:1px solid #BEBEBE;
	padding: 10px;
}
#input_days:focus{
	box-shadow: 0 0 8px #4691A4;
    border: 1px solid #4691A4;
}
#output{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    height: auto;
    margin: auto;
}
.divDay{
    text-align: left;
    padding: 15px;
    background-color: whitesmoke;
    margin: 15px;
    width: 170px;
    height: auto;
}
.muscle_ul{
    height: 90px;
}
#generate{
    background: #007163;
	padding: 6px;
	border: none;
	color: #fff;
}
#generate:hover{
    background: #4691A4;
}