#bmi_list {
	margin:10px auto;
	width: 260px;
	padding: 20px 12px 10px 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 13px;
}
ul li {
	padding: 0;
	display: block;
	list-style: none;
}
ul label{
	margin:0 0 3px 0;
	padding: 0px;
	display:block;
	font-weight: bold;
}
ul input{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
	border:1px solid #BEBEBE;
	padding: 7px;
    margin:auto;
    outline: none;
}
ul input:focus{
	-moz-box-shadow: 0 0 8px #4691A4;
	-webkit-box-shadow: 0 0 8px #4691A4;
	box-shadow: 0 0 8px #4691A4;
	border: 1px solid #4691A4;
}
ul input[type=submit]{
	background: #007163;
	padding: 8px 15px 8px 15px;
	border: none;
    color: #fff;
    margin: auto;
    margin-bottom: 20px;
}
ul input[type=submit]:hover{
	background: #4691A4;
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
}
#undertext {
    margin: auto;
    max-width: 400px;
}
#bmi_output, #bmi_output_def {
    font-size: 130%;
    margin-top: 20px;
}
#submit_bmi {
    margin-top: 30px;
}
table {
    width: 80%;
    max-width: 1000px;
    border: 2px solid #003761;
    margin: auto;
    margin-bottom: 5%;
}
td,th {
    border: 0.1px solid #003761;
    width: 20%;
    height: 50px;
}
.healthy {
    background-color: #0cb829;
    padding: 10px 10px;

}
.unhealthy {
    background-color: rgb(243, 223, 39);
    padding: 10px 10px;
}
.obese {
    background-color: rgb(230, 45, 85);
    border-bottom: solid 1px black;
    padding: 10px 10px;
    
}
#categories {
    border:solid 2px black;
    border-radius: 5px;
    width: 50%;
    min-width: 250px;
    margin: auto;
}
@media only screen and (max-width: 800px) {
 body {
    font-size: 0.8em;
 }
 table {
     font-size: 1.2em;
 }
}