.supp-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
    height: auto;
    margin: 1rem auto;
    padding-bottom: 2rem;
    border-bottom: 0.1168rem solid rgba(0,55,97,0.5);
}
.supp-section:last-child{
    border-bottom: none;
}
.supp-img{
  width: 128px;
  height: 128px;
  margin-top: 18%;
}
.img-container{
    display: flex;
    justify-content: center;
    min-width: 200px;
    height: 200px;
    border-radius: 100%;
    background-image: url(../img/gradient.png);
    margin-right: 5rem;
    margin-top: auto;
    margin-bottom: auto;
}
@media screen and (max-width: 822px) {
    .supp-section{
        flex-direction: column;
        align-items: center;
    }
    .img-container{
        margin-right: 0;
    }
    .supp-img{
        margin-top: 18%;
    }

}

